.container {
  border-radius: 30px;
  background: linear-gradient(145deg, #ffffff, #bdbbbb);
  box-shadow: 35px 35px 70px #d9d9d9, -35px -35px 70px #ffffff;
  height: 10rem;
  width: 20rem;
  border: 6px double #a41c1c;
}

.container:hover {
  background-position: right center;
  transform: scale(1.1);
}
