.container {
  border-radius: 30px;
  background: linear-gradient(145deg, #ffffff, #fdfdfd);
  box-shadow: 35px 35px 70px #d9d9d9, -35px -35px 70px #ffffff;
  height: 10rem;
  width: 20rem;
  border: 5px groove rgba(224, 41, 41, 0.767);
}

.container:hover {
  background-position: right center;
  transform: scale(1.1);
}
